body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

#preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  .spinner-border {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2rem;
    margin-left: -2rem;
  }
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg-video {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.heading {
  display: inline-block;
  transition: all, 0.3s;
  &:hover {
    transform: translate(-5px, -3px);
    text-shadow: 2px 5px 20px #aaa;
  }
}

.room-card {
  position: relative;
  box-shadow: 0 5px 10px #aaa;
  overflow: hidden;
  transition: all 0.8s;
  cursor: pointer;

  .back {
    position: absolute;
    background-color: #fefefe;
    top: -100%;
    opacity: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
    transform: rotateY(180deg);
    transition: top 0.8s opacity 0.4s;

    .back-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.rotate {
  perspective: 50rem;
  backface-visibility: hidden;
}

.rotate:hover .room-card {
  transform: rotateY(180deg);
}

.rotate:hover .back {
  opacity: 1;
  top: 0;
  user-select: auto;
  pointer-events: auto;
}

.gallery-img {
  backface-visibility: hidden;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.first-row,
.second-row {
  transform: translateY(300px);
  opacity: 0;
  transition: all 2.5s;
}

.change .first-row,
.change .second-row {
  transform: translateY(0);
  opacity: 1;
}

section.gallery {
  background-image: linear-gradient(rgba(white, 0.9), rgba($cyan, 0.1)),
    url(../images/bg-header.jpg);
  background-size: cover;
  background-position: center;
}
