<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
    include partials/_head.pug
  body.bg-light
    include partials/_loading.pug  
    block navbar
    block header
    block carousel
    block content
    include partials/_script.pug
    include partials/_footer.pug